<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>    jQuery(document).ready(function($){
        $('select').find('option[value=2]').attr('selected','selected');
      });
    </script>
    </head>

<body>
    <select name = "valitsin" onchange = "change()">
        <option value = 1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
</body>

</html>